@import '../style/colors.scss';

#poolPlayTab {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;

  .matchCell {
    circle {
      fill: $uiAccentColor;
    }
    text tspan {
      fill: $White;
      text-anchor: middle;
    }
  }
}
