@import '../style/colors.scss';

body {
  #poolPlayTab {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;

    .yLabel,
    .xLabel {
      fill: $White;
    }

    .matchCell {
      text tspan {
        text-anchor: middle;
        font-size: 0.75em;
      }

      &.noScores {
        circle {
          fill: $uiAccentColor;
        }
        text tspan {
          fill: $White;
        }
      }

      &.noScores:hover {
        cursor: pointer;
        circle {
          fill: $White;
        }
        text tspan {
          fill: $darkUiColor;
        }
      }

      &.withScores {
        circle {
          fill: $White;
        }
        text tspan {
          fill: $uiAccentColor;
        }
      }

      &.cantEnterScores,
      &.cantEnterScores:hover {
        cursor: default;
        circle {
          fill: $Black;
          stroke: $LightGrey;
          stroke-dasharray: 5, 5;
        }
        text tspan {
          fill: $White;
        }
      }
    }
  }
}
body.guessMode {
  #poolPlayTab {
    .matchCell {
      &.noScores {
        circle {
          fill: $uiGuessColor;
        }
      }
      &.withScores {
        text tspan {
          fill: $uiGuessColor;
        }
      }
    }
  }
}
