@import './colors.scss';

body {
  ::-webkit-scrollbar {
      width: 1em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background-color: transparent;
      border: none;
  }

  /* Corner */
  ::-webkit-scrollbar-corner {
      background-color: transparent;
      border: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 1em;
      border-radius: 1em;
      background: $uiAccentColor;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: $lightUiColor;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  	background: $uiAccentColor;
  }
}
body.guessMode {
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: $uiGuessColor;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  	background: $uiGuessColor;
  }
}
