@import './colors.scss';
@import './scrollbars.scss';

@font-face {
    font-family: 'Wolf-Sans-Regular';
    src:url('./Wolf-Sans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Wolf-Sans-Regular", sans-serif;
  font-weight: 300;
  color: $textColor;
  background-color: black;
}
input {
  font-family: "Wolf-Sans-Regular", sans-serif;
  font-size: 2em;
  background-color: $lightUiColor;
  color: $darkUiColor;
  border: 1px solid $Black;
  outline: none;
}
input.error {
  border: 4px solid $uiErrorColor;
}
input:focus {
  border: 4px solid $uiAccentColor;
}
h1, h2, h3, h4, h5, h6, b {
  font-weight: 700;
}
b {
  color: $uiAccentColor;
}
a {
  text-decoration: none;
  color: $linkColor;
}

#backgroundImage {
  position: fixed;
  bottom: -256px;
  right: -256px;
}
#backgroundOverlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: radial-gradient(ellipse 1024px 512px at 100% 100%, rgba(0,0,0,0.3) 0px, black 1536px);
}
#mainPage {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  #leaderBoard {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: calc(33.33333333% - 2em);
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: scroll;

    table {
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;

      thead {
        margin-bottom: 2em;
        td {
          border: 1px solid $lightUiColor;
          background-color: $darkUiColor;
          color: $lightUiColor;
        }
      }

      td {
        white-space: nowrap;
        padding: 0.25em;
        max-width: 30em;
        overflow-x: auto;
      }
    }
  }

  #mainPanel {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: calc(66.66666666% - 2em);
    padding: 1em;

    display: flex;
    flex-direction: column;

    nav {
      margin: 2em auto;

      .button {
        margin: 0em 0.5em;

        &.selected {
          background-color: $White;
          color: $uiAccentColor;
        }
      }
    }

    #signupTab {
      max-width: 45em;
      margin: 0em auto;

      form {
        display: flex;
        flex-direction: column;

        > span {
          position: relative;
          height: 4em;
          pointer-events: none;

          > * {
            pointer-events: all;
          }

          label {
            position: absolute;
            text-align: right;
            right: 22em;
            bottom: 1.5em;
          }
          input {
            position: absolute;
            right: 0em;
            width: 10em;
            bottom: 0.5em;
          }
          .button {
            position: absolute;
            right: 0em;
            bottom: 0.5em;
          }
          ul.selectMenu {
            position: relative;
            display: inline-block;
            left: 25em;
            /* cant position the select menu absolutely; instead I manually set this location */

            li {
              max-width: 13em;
              overflow-x: hidden;
            }
          }
        }
      }
    }
  }
}

#spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba($lightUiColor, 0.5);

  img {
    position: absolute;
    width: 10em;
    height: 10em;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
  }
}

.selectMenu li {
  span.name {
    display: block;
    width: auto;
    height: auto;
  }
  span.charity {
    display: block;
    width: auto;
    height: auto;
    font-size: 0.5em;
  }
}
.selectMenu.error {
  border: 4px solid $uiErrorColor;
}
