@import '../style/colors.scss';

#bracketTab {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;

  #nodes {
    g {
      text tspan {
        text-anchor: middle;
        font-size: 0.75em;
      }

      &.noScores {
        circle {
          fill: $uiAccentColor;
        }
        text tspan {
          fill: $White;
        }
      }

      &.noScores:hover {
        cursor: pointer;
        circle {
          fill: $White;
        }
        text tspan {
          fill: $darkUiColor;
        }
      }

      &.withScores {
        circle {
          fill: $White;
        }
        text tspan {
          fill: $uiAccentColor;
        }
      }

      &.cantPlayYet {
        circle {
          fill: $Black;
          stroke: $uiAccentColor;
        }
        text tspan {
          fill: $uiAccentColor;
        }
      }

      &.bye {
        circle {
          fill: $Black;
          stroke: $LightGrey;
          stroke-dasharray: 5, 5;
        }
        text tspan {
          fill: $White;
        }
      }
    }
  }
}
