@import './colors.scss';
@import '../lib/scrollbars.scss';

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: $textColor;
  background-color: black;
}
input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  background-color: $lightUiColor;
  color: $darkUiColor;
  border: 1px solid $Black;
  outline: none;
}
input:focus {
  border-color: $uiAccentColor;
}
h1, h2, h3, h4, h5, h6, b {
  font-weight: 700;
}
b {
  color: $uiAccentColor;
}
a {
  text-decoration: none;
  color: $linkColor;
}

#backgroundImage {
  position: fixed;
  bottom: -256px;
  right: -256px;
}
#backgroundOverlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: radial-gradient(ellipse 1024px 512px at 100% 100%, rgba(0,0,0,0.3) 0px, black 1536px);
}
#mainPage {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  #leaderBoard {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: calc(33.33333333% - 2em);
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: scroll;

    table {
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;

      thead td {
        border: 1px solid $lightUiColor;
        background-color: $darkUiColor;
        color: $lightUiColor;
      }

      td {
        white-space: nowrap;
        padding: 0.25em;
      }
    }
  }

  #currentMatch {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(66.66666666% - 2em);
    height: calc(50% - 2em);
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    justify-content: center;

    table {
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;

      td {
        padding: 0.25em;

        input {
          font-size: 3em;
          text-align: center;
          width: 2em;
        }
      }
    }
  }

  hr {
    position: absolute;
    top: calc(50% - 0.5em);
    height: 1em;
    left: 33.33333333%;
    right: 0px;
    background-color: transparent;
    border: 1px solid $Black;
  }

  #calendar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: calc(66.66666666% - 2em);
    height: calc(50% - 2em);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #scheduler {
      display: flex;
      justify-content: space-between;
      margin-top: 1em;
      align-items: center;
    }
  }
}
#registrationScreen {
  position: absolute;
  top: 10em;
  height: 22em;
  width: 40em;
  left: calc(50% - 20em);
  border: 1px solid $lightUiColor;
  border-radius: 3em;
  background-color: rgba($darkUiColor, 0.95);
  padding: 4em 3em 3em 3em;

  form {
    width: 100%;

    > span {
      position: relative;
      width: 100%;
      display: block;
      height: 3em;

      label {
        position: absolute;
        text-align: right;
        right: 22em;
        bottom: 1.35em;
      }
      input {
        position: absolute;
        right: 0em;
        width: 10.5em;
        &[type=radio] {
          bottom: 0.6em;
        }
      }
      ul.selectMenu {
        position: relative;
        display: inline-block;
        left: calc(19em - 4px);
        top: -1.4em;
        /* cant position the select menu absolutely; instead I manually set this location */
      }
    }
  }
  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .close {
    position: absolute;
    top: 2em;
    right: 2em;
    border-radius: 2em;
    padding: .5em;
    width: 1em;
    height: 1em;
    text-align: center;
  }
}

.selectMenu li {
  span.name {
    display: block;
    width: auto;
    height: auto;
  }
  span.charity {
    display: block;
    width: auto;
    height: auto;
    font-size: 0.5em;
  }
}
